body{
    background: #750909ad;
  }
  ul {
      background: #010101;
      display: table;
      margin: 80px auto;
      padding: 10px 20px;
      border-radius: 8px;
    width: 70%;
  }
  ul li {
      list-style: none;
      display: inline-block;
    margin-left: 50px;
  }
  ul li a {
      font-family: arial;
      color: #f87b7b;
      text-decoration: none;
      position: relative;
      padding: 15px 10px;
      font-size: 18px;
      display: block;
  }
  ul li a + a {
      margin-left: 16px;
  }
  ul li a::after {
      content: '';
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 4px;
      background-color: #6e0202;
      transform-origin: bottom right;
      transition: transform 0.5s ease;
      transform: scaleX(0);
  }
  ul a:hover::after {
      transform-origin: bottom left;
      transform: scaleX(1);
  }